name: "E2E Deployment testing workflow"
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  delivery_stages:

     runs-on: [ E2E-test-linux ]

     steps:
      
      - name: unit testing
        run: |
          echo "unit testing stage"
      - name: build
        run: |
          echo "build stage"
      - name: pop
        run: |
          echo "Pop stage"
      
      
  e2e_linux_executions:
    
      needs: delivery_stages         
      runs-on: [ E2E-test-linux ]

      steps:

      - name: install
        run: |
          sudo apt-get update
          sudo apt-get install -qqy awscli jq openjdk-11-jdk
            
      - name: download e2e artifacts
        run: |
          aws s3 cp --recursive s3://e2e-integrations-test/e2e-artifacts/integrations/yml-data integrations/yml-data --no-progress
          ls -al
          aws s3 cp s3://e2e-integrations-test/e2e-artifacts/test-integrations-0.0.1-SNAPSHOT.jar test-integrations-0.0.1-SNAPSHOT.jar --no-progress
          ls -al
          pwd
      - name: Extract secrets
        uses: aws-actions/aws-secretsmanager-get-secrets@v1
        with:
          secret-ids: |
            QA_GITHUB_TOKEN
          parse-json-secrets: true
      
      - name: e2e_tests_linux
        run: |
          pwd
          ls -la
          if [[ $GITHUB_EVENT_NAME == 'push' ]]; then
            echo github.action.version=${GITHUB_REF#refs/heads/} >> /tmp/test.properties
          else
            echo github.action.version=$GITHUB_HEAD_REF >> /tmp/test.properties
          fi
          echo "product=integrations" >> /tmp/test.properties
          echo "product.name=integrations" >> /tmp/test.properties
          echo "scm=github" >> /tmp/test.properties
          echo "runner=linux" >> /tmp/test.properties
          echo "runner.os=linux" >> /tmp/test.properties
          echo "pipeline=true" >> /tmp/test.properties
          echo "cloud.storage=S3" >> /tmp/test.properties
          echo "github.token=${{env.QA_GITHUB_TOKEN_QA_GITHUB_TOKEN}}" >> /tmp/test.properties
          chmod 755 test-integrations-0.0.1-SNAPSHOT.jar
          pwd  && ls -la
          cat /tmp/test.properties
          java -enableassertions -DPropertyManager.file=/tmp/test.properties -jar test-integrations-0.0.1-SNAPSHOT.jar -testjar test-integrations-0.0.1-SNAPSHOT.jar  -xmlpathinjar com/synopsys/test/integrations/cases/suites/deployment/testng-github-scm.xml
      
      - name: Archive results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-output
          path: test-output


  e2e_mac_executions:

      needs: delivery_stages
      runs-on: [ E2E-test-linux ]

      steps:

      - name: install
        run: |
          sudo apt-get update
          sudo apt-get install -qqy awscli jq openjdk-11-jdk  
      
      - name: download e2e artifacts
        run: |
          aws s3 cp --recursive s3://e2e-integrations-test/e2e-artifacts/integrations/yml-data integrations/yml-data --no-progress
          ls -al
          aws s3 cp s3://e2e-integrations-test/e2e-artifacts/test-integrations-0.0.1-SNAPSHOT.jar test-integrations-0.0.1-SNAPSHOT.jar --no-progress
          ls -al
          pwd
          
      - name: Extract secrets
        uses: aws-actions/aws-secretsmanager-get-secrets@v1
        with:
          secret-ids: |
            QA_GITHUB_TOKEN
          parse-json-secrets: true    

      - name: e2e_tests_mac
        run: |
          
          if [[ $GITHUB_EVENT_NAME == 'push' ]]; then
            echo github.action.version=${GITHUB_REF#refs/heads/} >> /tmp/test.properties
          else
            echo github.action.version=$GITHUB_HEAD_REF >> /tmp/test.properties
          fi
          echo "product=integrations" >> /tmp/test.properties
          echo "product.name=integrations" >> /tmp/test.properties
          echo "scm=github" >> /tmp/test.properties
          echo "runner=macos" >> /tmp/test.properties
          echo "runner.os=mac" >> /tmp/test.properties
          echo "pipeline=true" >> /tmp/test.properties
          echo "cloud.storage=S3" >> /tmp/test.properties
          echo "github.token=${{env.QA_GITHUB_TOKEN_QA_GITHUB_TOKEN}}" >> /tmp/test.properties
          chmod 755 test-integrations-0.0.1-SNAPSHOT.jar
          pwd  && ls -la
          cat /tmp/test.properties
          java -enableassertions -DPropertyManager.file=/tmp/test.properties -jar test-integrations-0.0.1-SNAPSHOT.jar -testjar test-integrations-0.0.1-SNAPSHOT.jar  -xmlpathinjar com/synopsys/test/integrations/cases/suites/deployment/testng-github-scm.xml


      - name: Archive results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-output
          path: test-output
              
  e2e_windows_executions:
    
      needs: delivery_stages
      runs-on: [ E2E-test-linux ]

      steps:

      - name: install
        run: |
          sudo apt-get update
          sudo apt-get install -qqy awscli jq openjdk-11-jdk  

      - name: download e2e artifacts
        run: |
          aws s3 cp --recursive s3://e2e-integrations-test/e2e-artifacts/integrations/yml-data integrations/yml-data --no-progress
          ls -al
          aws s3 cp s3://e2e-integrations-test/e2e-artifacts/test-integrations-0.0.1-SNAPSHOT.jar test-integrations-0.0.1-SNAPSHOT.jar --no-progress
          ls -al
          pwd 

      - name: Extract secrets
        uses: aws-actions/aws-secretsmanager-get-secrets@v1
        with:
          secret-ids: |
            QA_GITHUB_TOKEN
          parse-json-secrets: true    
        
      - name: e2e_tests_windows
        run: |
          
          if [[ $GITHUB_EVENT_NAME == 'push' ]]; then
            echo github.action.version=${GITHUB_REF#refs/heads/} >> /tmp/test.properties
          else
            echo github.action.version=$GITHUB_HEAD_REF >> /tmp/test.properties
          fi
          echo "product=integrations" >> /tmp/test.properties
          echo "product.name=integrations" >> /tmp/test.properties
          echo "scm=github" >> /tmp/test.properties
          echo "runner=Windows" >> /tmp/test.properties
          echo "runner.os=Windows" >> /tmp/test.properties
          echo "pipeline=true" >> /tmp/test.properties
          echo "cloud.storage=S3" >> /tmp/test.properties
          echo "github.token=${{env.QA_GITHUB_TOKEN_QA_GITHUB_TOKEN}}" >> /tmp/test.properties
          chmod 755 test-integrations-0.0.1-SNAPSHOT.jar
          pwd  && ls -la
          cat /tmp/test.properties
          java -enableassertions -DPropertyManager.file=/tmp/test.properties -jar test-integrations-0.0.1-SNAPSHOT.jar -testjar test-integrations-0.0.1-SNAPSHOT.jar  -xmlpathinjar com/synopsys/test/integrations/cases/suites/deployment/testng-github-scm.xml
  
      - name: Archive results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-output
          path: test-output

  post_e2e_executions:

      needs: [e2e_linux_executions, e2e_mac_executions, e2e_windows_executions]
      runs-on: [ E2E-test-linux ]

      steps:

      - name: publish
        run: |
          echo "publish stage"  

