# This is a basic workflow to help you get started with Actions

name: CI-Polaris

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: [ubuntu-latest]

    env:
      MAC_BRIDGE_URL: "https://sig-repo.synopsys.com/artifactory/bds-integrations-release/com/synopsys/integration/synopsys-action/0.1.72/ci-package-0.1.72--macosx.zip"
      LINUX_BRIDGE_URL: "https://sig-repo.synopsys.com/artifactory/bds-integrations-release/com/synopsys/integration/synopsys-action/0.1.72/ci-package-0.1.72-linux64.zip"
      WINDOWS_BRIDGE_URL: "http://artifactory.internal.synopsys.com/artifactory/clops-local/clops.sig.synopsys.com/synopsys-bridge/latest/synopsys-bridge-0.1.211-win64.zip"
      # Optional, default false
      #INCLUDE_DIAGNOSTICS: true

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - name: Use synopsys unified-action
        # Use the action defined in this repository
        uses: ./
        with:
          polaris_serverUrl: ${{ secrets.POLARIS_SERVER_URL }}
          polaris_accessToken: ${{ secrets.POLARIS_ACCESS_TOKEN }}
          polaris_application_name: "tb_app1"
          polaris_project_name: "tb_proj"
          polaris_assessment_types: "SCA"
          include_diagnostics: ${{ env.INCLUDE_DIAGNOSTICS }}
          bridge_download_url: ${{ env.MAC_BRIDGE_URL }}

      - name: Include diagnostics
        uses: actions/upload-artifact@v3
        if: ${{ failure() || env.INCLUDE_DIAGNOSTICS }}
        with:
          # If a path (or paths), result in no files being found for the artifact, the action will succeed but print out a warning.
          path: ${{ github.workspace }}/.bridge/
          name: bridge_diagnostics
          # Artifacts are retained for 90 days by default
          retention-days: 10
